GoogleService-Info.plist
*.xcuserstate
firebase_chat_sorter.py
swiftidate-cdff0-firebase-adminsdk-e2p44-7c5e06ebfc.json
SwiftiDate.xcodeproj/project.pbxproj
mlc-llm
dist
functions/.DS_Store
functions/node_modules
google-cloud-sdk/
google-cloud-cli-darwin-arm.tar.gz
# macOS
*.DS_Store
# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
public/firebase-init.js
apphosting.local.yaml
.firebase/hosting.cHVibGlj.cache
functions/src/swiftidate-cdff0-firebase-adminsdk-e2p44-34ef83ec05.json
aps_development.cer
憑證.p12
CertificateSigningRequest.certSigningRequest
